* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

body {
  background-color: #f4f4f4;
  color: #555;
  line-height: 1.8 !important;
  font-family: 'Barlow Condensed' sans-serif !important;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  font-size: calc(15px + 1vmin);
  color: white;
}
footer .small {
  background-color: #282c34;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: white;
  font-size: 1.1rem;
}
.footer {
  background-color: #007bff;
  color: #fff;
  padding: 80px 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  width: 100%;
}
.footer-two {
  text-align: center;
}
.footer-three {
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-light .navbar-brand {
  color: #ccc !important;
}
.navbar button, .navbar button:focus {
  margin: 0 10px;
  background-color: inherit !important;
  border: 0 !important;
  outline: 0 !important;
}
.navbar button:hover {
  border: 1px solid #ccc!important;
}
.fixed-top {
  position: fixed;
  top: 0;
  background-color: #282c34;
  width: 100%;
}
.main {
  margin: 50px auto;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.App-link {
  color: #61dafb;
}

@media (min-width: 800px) {
  .footer {
    grid-template-columns: 40% 20% 30%;
  }
  .footer-three {
    text-align: right;
  }
}
